* {
    padding: 0;
  }
   
  body {
    font: 16px 'Roboto';
  }
   
  .conteiner {
    width: 1500px;
    margin: 0 auto;
  }
   
   
  .photo {
    display: table-cell;
    height:100px;
    text-align: center;
    width: 2000px;
    vertical-align: middle;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    color: #50ac64;
  }
  
   
  .author {
    text-align: center;
    text-shadow:1px 1px 0 #444;
    vertical-align: top;
  }
   
   
  /* задаем свойства заголовку */
   
  h3 {
    text-align: center;
    color: #2c3e50;
  }
   
   
  /* задаем свойства горизонтальной линии */
   
  hr {
    border: none;
    color: #eee;
    background-color: #eee;
    height: 1px;
  }
   
   
  /* задаем свойства тексту */
   
  p {
    text-align: left;
    color: #34495e;
  }
   
  a {
    text-decoration: none;
    color: #3498db;
  }
   
  li {
    margin: 10px 0;
    list-style-type: none;
  }
  

   
  .contacts {
    text-align: centre;
  }
